body {
    font-size: 100%;
    background-color: #eaeff5;
}

#invite .row{
	margin-bottom: 0.625rem;
}
#invite_pic_div
{
	
	margin: 0px;
	padding:0px;
}
#invite .largetext{
	font-size: 4rem;
	font-weight:200;
	color:#a2030e;
	text-align: center;
}
.create_invite,.search_invite{
	font-size: 1.25rem;
	padding-left: 0.125rem;
	border: none;
	color: #a2030e;
}

#invite_pic{
	width: 100%;
}

.search_invite a:hover{
	text-decoration:blink;
}


.icon{
  position: absolute;
  left: 0.75rem;
  top: 0.5652rem;
  font-size: 1rem;
  z-index: 999;
  color: #333;
}

.styled-select{
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   color: #858282;
    border: none;
}
.option-color{
	background-color: rgba(255,255,255,.2);
	font-family: "microsoft yahei";
}


.input-group-addon {
    
    background-color: #fff;
   
 }
.input-group-addon a{
    
    font-size: 1rem;
 }
#search_btn{
 	
 	border-left-width: 0px;
 }
	
 #search_invite_tag
 {
 	    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

 }
#search_btn,#search_invite_tag,#search_more_btn{
	height: 30px;
	margin: 0px;
	 font-size: 1rem;
}
#search_btn:hover {
    color: #fff;
    background-color: #7f81e7;
    border-color: #7f81e7;
}
#invite_more_detail{
	    display:none;
}
.have_icon
{
	position: relative;
}

#search_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_more,#create_invite_tag
{
	border:none;
}

.creat
{
	font-weight:900;
}
#create_new_invite
{
	    display:none;
}
.search_invite_group{
	margin-bottom: 1.25rem;
}
#invite_more_detail{
	margin-bottom: 1.875rem;
}

#invite_png{
	float:right;
}
#submit_invite_btn button:hover {
    background-color: #292e6f;
    border-color: #292e6f;
}

#submit_invite_btn button {
    padding:auto 1.875rem;
    font-size: 1rem;
    background-color: #7f81e7;
    border:none;
    color: #ffffff;
 }
.timeline li{
	margin-bottom: 10px;
}

img, b{
	margin: 0;
}
img, ul, li,b{
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

	vertical-align: baseline;
}
ul {
	margin-top: 2rem;
	list-style: none;
}

.container_timeline{
	margin: 0 auto;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==) repeat-y 16rem 16rem;
}

/* 默认样式 */
.timeline  li {
	height: 12rem;
	width: 100%;
	position: relative;
}

.timeline  li div {
	position: absolute;
	width: 100%;
}


.timeline  .check s{
	position: absolute;
	display: block;
	left: 14.5rem;
	top: 2.85rem;
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid #6666CC;
	background: #fff url(/static/images/invite/pic.png) 1px -100px;
	cursor: pointer;
}



.timeline  .thumb {
	width: 9%;
	top: 1.5rem;
	left: 6rem;
}

.timeline  .thumb img{
	width: 6rem;
	height: 6rem;
	border: 5px solid #6666CC;
	border-radius: 50%;
}

.timeline  .thumb span {
	display: block;
	height: 1rem;
	line-height: 1rem;
	color: #6666CC;
	text-align: center;
	font-size: 1rem;

}

.timeline  .content{
	left: 18rem;
	top: 1rem;
	width: 73%;
	border-left: 5px solid #6666CC;
	background: #fff;
}

.timeline  .content h3{
	margin: 1rem 1rem;
	font-size: 1.5rem;
	font-family: "microsoft yahei";
}
.timeline  .content h4{
	margin: 1.6rem 1rem;
	font-size: 1.5rem;
	font-family: "microsoft yahei";
}

.timeline  .content b{
	position: absolute;
	display: block;
	width: 17px;
	height: 34px;
	background: url(/static/images/invite/pic.png);
	left: -21px;
	top: 1.35rem;
}

/* 高亮样式 */
.timeline  li.active{
	height: 16rem;
}

.timeline li.active div{
	position: absolute;
}

.timeline .content p {
	display: none;
}
.timeline .active .content p {
	display: block;
	margin: 1rem 1rem;
	font-size: 1.2rem;
}
.timeline .active .check s{
	left: 14.1rem;
	top: 2.85rem;
	width: 2rem;
	height: 2rem;
	border: 5px solid #fff;
	background: #F26328 url(/static/images/invite/pic.png) 2px -200px;
	cursor: pointer;
}



.timeline .active .thumb {
	width: 8rem;
	top: 1rem;
	left: 4rem;

}

.timeline .active .thumb img {
	width: 8rem;
	height: 8rem;
	border: 8px solid #F26328;
border-radius: 50%;
}

.timeline .active .thumb span{
	color: #F26328;

}

.timeline  .active .content{
	border-left: 5px solid #F26328;
}


.timeline .active .content b{
	background: url(/static/images/invite/pic.png) 0 -43px;
	left: -20px;
	top: 1.8rem;
}

.list_name_p{
	font-size: 2rem;
  color: rgba(0,0,0,0.1);
  margin: 0px ;
  position: absolute;
  left:6rem;
  top:-2rem;
}
.content{
	position: relative;

}
.confirm_invite{
	position: absolute;
	top:1rem;
	padding: 3px 3rem;
	right: 1rem;
	border:none;
	width: 9rem;
	font-size: 2rem;
		background-color: #6666CC;
}

#invite_new_btn a{
	font-size: 2.5rem;
	margin-top: 0px;
	color: rgb(127, 129, 231);
}
.th_width{
	width: 190px;
}

#invite_new_btn a:hover{
	font-size: 2.5rem;
	color: #337ab7;
}
#invite_new_btn  span:hover{
	font-size: 2.75rem;
	color: #337ab7;
}
#invite_new_btn{
    margin-top: 0px;
	margin-bottom: 15px;
	text-align: center;
}

#invite_message_all_btn,#invite_message_btn
{
	font-size: 2rem;
	text-align: center;
	color: #7f81e7;
	font-family: "microsoft yahei";
	padding:0px;
}


.table > tbody > tr > td{
	border-top: none;
}
.table > tbody > tr > th{
	border-top: none;
}
#invite_message_list button{
	padding-left:2rem;
	padding-right: 2rem;
	font-size: 1rem;

}
table{
	padding-right: 0px !important;
}


#invite_message_all_list tbody,#invite_message_list tbody{

	font-size: 1.75rem;
	margin-bottom: 0px;
	margin-top: 15px;
	font-weight: normal;
}



#invite_message_list,#invite_message_all_list{
	display:none;
	padding-right: 0px;
    padding-left: 0px;
    color: #a2030e;
}
#invite_message_list td,#invite_message_all_list td{
	font-size: 1rem;
	text-align: center;
}
#invite_message_list th,#invite_message_all_list th{
	font-size: 1.2rem;
text-align: center;
}
#invite_message_all_list table,#invite_message_list table{
	width: 80%;
	margin :0px 10%;
}















@media screen and (max-width: 992px){
#invite_message_all_btn a,#invite_message_btn a{
	font-size: 1.5rem;
}
}
@media screen and (max-width: 767px){
	.confirm_invite{
	position: absolute;
	top:auto;
	bottom:0px;
	
	right: 1rem;
	border:none;
	font-size: 2rem;
		background-color: #6666CC;
}

	.container {
    margin-right: 0px;
    margin-left: 0px;
}
.th_width{
	width: 60px;
}
	.row{
	 margin-left: 0px;
    margin-right: 0px;
	}
	
	#invite_message_all_list table, #invite_message_list table {
    width: 100%;
    margin: 0px 0px;
}
	#invite_message_list td,#invite_message_all_list td{
	font-size: 1rem;
	text-align: center;
    }
    .table > tbody > tr > td{
    	padding: 0px;
    }
    .invite_message_item,.invite_message_location,.invite_message_time{
    	display: none;
    }
#invite_message_list th,#invite_message_all_list th{
	font-size: 1rem;
	padding: 0px;
text-align: center;
}
#invite_message_list button{
	padding:0px;
	margin:0px;
	font-size: 0.75rem;
}

#invite_message_all_list{
	color: #a2030e;
}
#invite_new_btn,#invite_message_all_btn,#invite_message_btn{
	padding: 5px;
}
#invite_new_btn a,#invite_message_all_btn a,#invite_message_btn a{
	font-size: 2rem;
}
#invite_new_btn a:hover{
	font-size: 2.2rem;
}


.icon{
  position: absolute;
  left: 0.75rem;
  top: 0.65rem;
  font-size: 1.5rem;
  z-index: 999;
  color: #333;
}


.container_timeline{
	margin: 0 auto;
	background: none;
}
#invite_new_btn{
	margin-bottom: 0px;
}
/* 默认样式 */
.timeline  li{
	height: 10rem;
	width: 100%;
	position: relative;
}

.timeline  li div{
	position: absolute;
	width: 100%;
}


.timeline  .check s{
	position: absolute;
	display: block;
	left: 7rem;
	top: 4rem;
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid #6666CC;
	background: #fff url(/static/images/invite/pic.png) 1px -101px;
	cursor: pointer;
}



.timeline  .thumb{
	width: 9%;
	top: 1.5rem;
	left: 0.5rem;
}

.timeline  .thumb img{
	width: 6rem;
	height: 6rem;
	border: 4px solid #6666CC;
	border-radius: 50%;
}

.timeline  .thumb span {
	display: block;
	width: 6rem;
	line-height: 1rem;
	color: #6666CC;
	text-align: center;
	font-size: 1rem;
}

.timeline  .content{
	left: 10rem;
	top: 1rem;
	width: 60%;
	border-left: 4px solid #6666CC;
	background: #fff;
}


.timeline  .content h4{
	margin: 1rem 1rem;
	font-size: 1.5rem;
	font-family: "microsoft yahei";
}

.timeline  .content b{
	position: absolute;
	display: block;
	width: 17px;
	height: 34px;
	background: url(/static/images/invite/pic.png);
	left: -20px;
	top: 2.3rem;
}

/* 高亮样式 */
.timeline  li.active{
	height: 14rem;
}

.timeline  li.active div{
	position: absolute;
}

.timeline .content p {
	display: none;
}
.timeline .active .content p {
	display: block;
	margin: 1.5rem 1rem;
	font-size: 1rem;
}
.timeline  .active .check s{
	left: 5rem;
	top: 1rem;
	width: 2rem;
	height: 2rem;
	border: 4px solid #fff;
	background: #F26328 url(/static/images/invite/pic.png) 2px -200px;
	cursor: pointer;
}

.timeline  .active .thumb{
	width: 4rem;
	top: 1rem;
	left: 0.5rem;

}

.timeline  .active .thumb img{
	width: 4rem;
	height: 4rem;
	border: 4px solid #F26328;
border-radius: 50%;
}

.active .content{
	border-left: 4px solid #F26328;
    left: 8rem;
	top: 1rem;
    width: 75%;
}

.timeline  .active .content b{
	background: url(/static/images/invite/pic.png) 0 -43px;
	left: -20px;
	top: 0px;
}
}
.list_name{
	position: relative;
	display: none;
}
.list_name_tuijian{
	position: relative;
}
.none_{
	min-height: 10rem;
}