  .login-header
  {text-align:center;margin-bottom:20px}
 #form_input{
    width: 70%;
    padding-top: 20px;
    padding-left: 5%;

 } 
 #login_btn{
    background :#7f81e7;
    border-color: #7f81e7;
 }
 .login_signup button{
   padding: 4px 12px;
 }
.login_signup{

  background :#ffffff;
   border-color: #ffffff;
}
.container_login_signup{
  padding-bottom: 40px;
  padding-top: 20px;

}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.form-control{

    font-size: 1rem;
    line-height: 1.42857143;
    color: #555;
    display: block;
    padding-left: 2.85rem;
    padding-right: 0.7rem;
    margin-bottom: 0.7rem;
}
.for_label{
       position: relative;
}
  .on_left h3{
    margin-top:0px;
 }
.control_label {
    position: absolute;
    top: 9px;
    left: 12px;
    font-size: 17px;
    color: rgba(0,0,0,0.3);
}
#verify_dropdown{
       position: relative;
    display:none;
}
#signup_dropdown{
       position: relative;
    display:none;
}
#login_div{
       position: relative;
    display:none;
}
#find_password_dropdown{
      position: relative;
    display:none;
}
#find_password_new_pwd{
    display:none;
}
.div_close
{
    font-size: 25px;
      z-index:9999;

}
.dropdown_close{
    position: absolute;
    top: 40px;
    right: 50px;
}
.no_padding{
    padding-right: 0px;
}
.wrong_message{
  position:relative;
}    



.alert {
    padding: 10px;
    font-size: 14px;
        margin-bottom: 0px;
  }
.showing{
      position: absolute;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    border-radius: 0;
    z-index: 9998;
    transform: translate3d(0,0,0);
    webkit-transform: translate3d(0,0,0);

}
.checkbox{
  margin-top:0px;
  margin-bottom: 5px;
}

