    <div class="ag-content-customer-wrap" >
        <div class="ag-content-customer">
            <div class="ag-content-customer-ele">
                <div class="ag-content-customer-ele-shadow"></div>
                <span>玉树临风的加密员组长</span>
                <img src="/static/images/zu.png" data-hover="77" data-normal="85" />
            </div>
            <div class="ag-content-customer-ele">
                <div class="ag-content-customer-ele-shadow"></div>
                <span>超级流弊的交互救火员</span>
                <img src="/static/images/j.png" style="left:65px;" data-hover="57" data-normal="65" />
            </div>
            <div class="ag-content-customer-ele">
                <div class="ag-content-customer-ele-shadow"></div>
                <span>萌你一脸的算法研究员</span>
                <img src="/static/images/meng.png" style="left:96px;" data-hover="88" data-normal="96" />
            </div>
            <div class="ag-content-customer-ele">
                <div class="ag-content-customer-ele-shadow"></div>
                <span>长腿逆天的数据库女神</span>
                <img src="/static/images/bao.png" style="left:83px;" data-hover="75" data-normal="83" />
            </div>
            <div class="ag-content-customer-ele">
                <div class="ag-content-customer-ele-shadow"></div>
                <span>五块就贵炸了的前端卓</span>
                <img src="/static/images/zhuo.png" style="left:56px;" data-hover="48" data-normal="56" />
            </div>
            <div class="ag-content-customer-ele">
                <div class="ag-content-customer-ele-shadow"></div>
                <span>show和hide是真爱的前端肉</span>
                <img src="/static/images/rou.png" style="left:83px;" data-hover="75" data-normal="83" />
            </div>
            <div class="ag-content-customer-ele-detail" id="introduce-p">
                <ul style="margin-top:100px;">
                    <li class="acced-li-1">卢冠男</li>
                    <li class="acced-li-2">梁界</li>
                    <li class="acced-li-3">凌恩浩</li>
                    <li class="acced-li-4">鲍悦</li>
                    <li class="acced-li-5">魏远卓</li>
                    <li class="acced-li-6">陈建蓉</li>
                </ul>
                <div class="ag-content-customer-ele-detail-display margin-introduce">
                    <div class="ag-content-customer-ele-detail-display-left">
                        <img src="/static/images/zu.png" />
                    </div>
                    <div class="ag-content-customer-ele-detail-display-right ">
                        <p>我们玉树临风风流倜傥的组长带领我们一本正经地做约跑步网站！</p>
                        <p>炒鸡爱健身！炒鸡会加密，立志于让用户安全防护密不透风！炒鸡喜欢教大家新知识！</p>
                        <p>中国好组长！我们忘不掉这个九月，忘不了组长的石榴和界神的车后座！组长么么哒(/≥▽≤/)</p>
                    </div>
                </div>
                <div class="ag-content-customer-ele-detail-display margin-introduce">
                    <div class="ag-content-customer-ele-detail-display-left">
                        <img src="/static/images/j.png" />
                    </div>
                    <div class="ag-content-customer-ele-detail-display-right">
                        <p>我们技术流弊思路清晰对各种电视剧深有研究的交互大神为我们扑灭了一次又一次前端后端的熊熊大火！</p><p>
                        会写前端会写后台会写数据库更会改BUG！真真是“如果没有你，日子怎么过”！</p><p>界神么么哒(/ω・＼) 
                       </p>
                    </div>
                </div>
                <div class="ag-content-customer-ele-detail-display margin-introduce">
                    <div class="ag-content-customer-ele-detail-display-left">
                        <img src="/static/images/meng.png" />
                    </div>
                    <div class="ag-content-customer-ele-detail-display-right">
                        <p>我们萌你一脸的萌神不仅从代码悟出道还潜入屠苏馆解决匹配推荐算法问题！</p>
                        <p>萌神来无影去无踪，解决问题轻轻松松~</p>
                        <p>萌神么么哒~(▰˘◡˘▰)~ </p>
                    </div>
                </div>
                <div class="ag-content-customer-ele-detail-display margin-introduce">
                    <div class="ag-content-customer-ele-detail-display-left">
                        <img src="/static/images/bao.png" />
                    </div>
                    <div class="ag-content-customer-ele-detail-display-right">
                        <p>
                        我们貌美温柔长腿智商高的数据库女神拯救了我们的后台、日报、周报和代码汪的被BUG摧残一万次的心灵！</p><p>女神人美能力强，自学超快的！</p><p>女神么么哒╯ 3╰</p>
                    </div>
                </div>
                <div class="ag-content-customer-ele-detail-display margin-introduce">
                    <div class="ag-content-customer-ele-detail-display-left">
                        <img src="/static/images/zhuo.png" />
                    </div>
                    <div class="ag-content-customer-ele-detail-display-right">
                        <p>我们热爱小绿审美一流超有主见的阿卓使得网站走上了高端大气上档次的道路</p>
                        <p>各种酷炫效果biu~biu~biu~阿卓在美化页面的道路上高歌猛进，media和！important也没有怕的~</p>
                        <p>阿卓么么哒(≖ ‿ ≖)✧ </p>
                    </div>
                </div>
                <div class="ag-content-customer-ele-detail-display margin-introduce">
                    <div class="ag-content-customer-ele-detail-display-left">
                        <img src="/static/images/rou.png" />
                    </div>
                    <div class="ag-content-customer-ele-detail-display-right ">
                        <p>我们逻辑能力超强想法超多热爱各种神奇东西的肌肉撑起了前端的半边天！</p><p>肌肉真爱showhide，
                            肌肉魔方超炫酷，肌肉救不回来被带歪的逗比画风！</p><p>肌肉么么哒(｡◕ˇ∀ˇ◕）</p>
                    </div>
                </div>
                <div class="ag-content-customer-ele-detail-return" style="color:#000;"><span><</span>返回</div>
            </div>
        </div>
    </div>
<section class="contact-info" id="startfooter">
    <div class="container contact-container">
        <div class="row">
            <div class="col-md-4 col-xs-4 border-right contact-padding">
                <h2 class="forh2">Address</h2>
                <span class=" icon-map-marker larger-icon"></span>
                <span class="gray-font">南京市·东南大学九龙湖校区</span>
            </div>
            <div class="col-md-4  col-xs-4 phone contact-padding">
                <h2 class="forh2">Telephone</h2>
                <span class="icon-phone larger-icon"></span>
                <span class="gray-font">025 025 025</span>
            </div>
            <div class="col-md-4  col-xs-4 border-left contact-padding">
                <h2 class="forh2">Email</h2>
                <span class="icon-envelope"></span>
                <a class="gray-font" href="mailto:2336413616@qq.com">FitGo</a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div id="myfooter" class="container align-center">
        <a onclick="toTop()" class="to-top"><div><img src="https://jcd.pl/data/themes/jcd/img/arrowtop.png" style="margin-top:10px;"></div></a>
        <h1>Let's talk!</h1>
        <p>
            We are availabel Monday and Friday,business hours Eastern time.
            <a href="mailto:2336413616@qq.com">fitgo@gmail.com</a> |Nanjing Jiulonghu <a href="http://www.seu.edu.cn">SEU</a>
        </p>
    </div>

</footer>
        
</body>
        <script src="{{static_url('js/unslider.min.js')}}"></script>
        <script src="{{static_url('js/homepage.js')}}"></script>
        <script src="{{static_url('js/footer.js')}}"></script>

</html>