{% extends "header.html" %}
{% block header %}
{% end %}
{% block body %}
    <!-- 广告语 -->
    <div id="hs-slider">
        <div id="content" class="container">
            <div class="row">
                <div class="title">
                    <div>
                        <p class="largetext">
                            MAKE
                            <strong>YOUR FITNESS</strong>
                            NOT ALONE
                        </p>
                    </div>
                </div>
                <div class="shadow">
                    <div class="shadow1">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="showup col-lg-6 col-md-12 col-sm-12 col-xs-12 words-container">
                                        <div class="show-words" id="words">
                                            <h1>FitGo</h1>
                                            <p><strong>让运动不再孤独</strong></p>
                                            <p>
                                                FitGo是一款针对大学生运动的移动平台，兼顾安全性，实现了约跑步、健身计划、健身打卡、发起健身活动等方面的功能。不管在任何时候、任何地点，您都可以在FitGo上找到一同运动的伙伴。您可以通过FitGo认识周围健身的小伙伴，找到志同道合的跑者，健身路上相互鼓励的伙伴。FitGo提供了一个线上发起健身活动、线下相应的健康生活平台。
                                            </p>
                                        </div>
                                    </div>
                                    <div class="showdown col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                        <div class="show-images" id="pictures">
                                            <img id="picture1" src="/static/images/show1.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="showup col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                        <div class="show-words" id="words">
                                            <h1>约健身</h1>
                                            <p><strong>Life is short,have a BETTER RUN.</strong></p>
                                            <p>还在一个人孤独的奔跑吗？快来FitGo约健身平台找到合拍的小伙伴吧~一对一，约跑步、约打球、约单车、约环校、约健身，FitGo轻松搞定。</p>
                                            <p>只想约男/女生？(..•˘_˘•..)没问题~</p>
                                        </div>
                                    </div>
                                    <div class="showdown col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                        <div class="show-images">
                                            <img id="picture2" src="/static/images/show2.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="showup col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                        <div class="show-words" id="words">
                                            <h1>健身计划</h1>
                                            <p><strong>Control over your life statrs with control over your body.</strong></p>
                                            <p>相约好友FitGo，互相监督，相互鼓励。FitGo让健身计划变得生动可见。FitGo帮你制定健身周计划，一份计划、一份坚持、一个不一样的自己(●'◡'●)ﾉ♥  </p>
                                        </div>
                                    </div>
                                    <div class="showdown col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                        <div class="show-images">
                                            <img id="picture3" src="/static/images/show3.jpg" alt="...">
                                        </div>
                                    </div>
                                    <div class="carousel-caption">
                                        
                                    </div>
                                </div>
                                <div class="item ">
                                    <div class="showup col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                        <div class="show-words" id="words">
                                            <h1>健身活动</h1>
                                            <p><strong>Fit Together. Never be alone.</strong></p>
                                            <p>“我不愿让你一个人，一个人在人海浮沉。”</p>
                                            <p>
                                                一个人玩不够high。发起活动召唤一群人一起high。FitGo多人活动让你拥有一呼百应的机会。 ╮(๑•́ ₃•̀๑)╭组队打篮球、组队划龙舟、组队跑环校...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="showdown col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                        <div class="show-images">
                                            <img id="picture4" src="/static/images/show4.jpg" alt="...">
                                        </div>
                                        <div class="carousel-caption">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="none-shadow left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="none-shadow right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 主页动态块 -->
                <div class="none-padding" >
                    <div class="row hs-boxes" id="blocks-word">
                        <div class="col-lg-6 col-xs-12">
                            <div class="box purple activity-0" >
                                <p class="box-title h2 h2-font">STATE</p>
                                <div class="box-text hidden-xs" id="state_one">
                                    <h4 style="margin-bottom:0;">title</h4>
                                    <p style="font-size:0.7rem;margin-bottom:0;" class="time">time</p>
                                    <p style="font-size:1.0rem" class="content">content</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            
                            <div class="box pink activity-0">
                                <p class="box-title h2 h2-font">INVITE</p>
                                <div class="box-text hidden-xs " id="invite_one">
                                    <h4 style="margin-bottom:0;">item</h4>
                                    <p style="font-size:0.7rem;margin-bottom:0;" class="time">timelocation</p>
                                    <p style="font-size:1.0rem" class="content">remark</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            
                            <div class="box blue activity-0" >
                                <p class="box-title h2 h2-font">ACTIVITY</p>
                                <div class="box-text hidden-xs" id="activity_one"> 
                                    <h4 style="margin-bottom:0;">title</h4>
                                    <p style="font-size:0.7rem;margin-bottom:0;" class="time">timelocation</p>
                                    <p style="font-size:1.0rem" class="content">content</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="clearfix visible-sm visible-md visible-lg"></div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            
                            <div class="box blue activity-0">
                                <p class="box-title h2 h2-font">STATE</p>
                                <div class="box-text hidden-xs" id="state_two">
                                    <h4 style="margin-bottom:0;">title</h4>
                                    <p style="font-size:0.7rem;margin-bottom:0;" class="time">time</p>
                                    <p style="font-size:1.0rem" class="content">content</p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            
                            <div class="box gray activity-0" >
                                <p class="box-title h2 h2-font">INVITE</p>
                                <div class="box-text hidden-xs" id="invite_two">
                                    <h4 style="margin-bottom:0;">item</h4>
                                    <p style="font-size:0.7rem;margin-bottom:0;" class="time">timelocation</p>
                                    <p style="font-size:1.0rem" class="content">remark</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="clearfix visible-sm visible-md"></div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            
                            <div class="box purple activity-0" >
                                <p class="box-title h2 h2-font">STATE</p>
                                <div class="box-text hidden-xs" id="state_three">
                                    <h4 style="margin-bottom:0;">title</h4>
                                    <p style="font-size:0.7rem;margin-bottom:0;" class="time">time</p>
                                    <p style="font-size:1.0rem" class="content">content</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end %}