<!DOCTYPE html>
<html>
    <head><title>personal info change</title></head>
    <body>
        <h1>personal info change</h1>
        <form method="post" action="/user/userpage/1">
       

        <p>gender<br><input type="text" name="gender"></p>
        <p>user_name<br><input type="text" name="user_name"></p>
        <p>school<br><input type="text" name="school"></p>
        <p>campus<br><input type="text" name="campus"></p>
     
        <p>info_email<br><input type="text" name="info_email"></p>
        <p>info_phone<br><input type="text" name="info_phone"></p>
        <p>portrait<br><input type="text" name="portrait"></p>

        <input type="submit">
        </form>
    </body>
</html>


